{% extends "layout.html" %}
{% block content %}

<img src="{{ url_for('static', filename='images/mgi.png') }}" class="mgi-top">

<div class="auth-box">

<img src="{{ url_for('static', filename='images/farmnorama.png') }}" class="auth-logo">

<h2>WELCOME</h2>
<p>Sign in to continue</p>

{% if error %}
<p class="error-text">Wrong credentials!</p>
{% endif %}

<form action="/login_user" method="POST">
<input name="email" class="auth-input" placeholder="Username" required>
<input name="password" type="password" class="auth-input" placeholder="Password" required>

<button class="auth-btn">SIGN IN</button>
</form>

<p style="margin-top:10px;">
<a href="/forgot">Forgot Password?</a>
</p>

</div>

{% endblock %}