{% extends "layout.html" %}
{% block content %}

<img src="{{ url_for('static', filename='images/mgi.png') }}" class="mgi-top">

<div class="auth-box">

<h2 class="auth-title">VERIFY OTP</h2>
<p class="auth-sub">Enter the code sent to your email</p>

{% if error %}
<p class="error-text">Invalid OTP!</p>
{% endif %}

<form action="/verify_otp" method="POST">
<input name="otp" class="auth-input" placeholder="6-digit OTP" required>
<button class="auth-btn">Verify</button>
</form>

</div>

{% endblock %}