{% extends "layout.html" %}
{% block content %}

<img src="{{ url_for('static', filename='images/mgi.png') }}" class="mgi-top">

<div class="auth-box">

<h2 class="auth-title">CREATE ACCOUNT</h2>
<p class="auth-sub">Enter your details</p>

{% if error == "exists" %}
<p class="error-text">Email already exists</p>
{% endif %}
{% if error == "invalid" %}
<p class="error-text">Invalid email format</p>
{% endif %}

<form action="/create_account" method="POST">
<input name="email" class="auth-input" placeholder="Email" required>
<input name="password" type="password" class="auth-input" placeholder="Password" required>

<button class="auth-btn">Send OTP</button>
</form>

</div>

{% endblock %}