{% extends "layout.html" %}
{% block content %}

<img src="{{ url_for('static', filename='images/mgi.png') }}" class="mgi-top">

<div class="auth-box">
    <h2>Reset Password</h2>
    <p>Enter the OTP sent to your email and your new password.</p>

    {% if error %}
    <p class="error-text">{{ error }}</p>
    {% endif %}

    <form action="/reset_password_submit" method="POST">
        <input name="otp" class="auth-input" placeholder="OTP" required>
        <input name="password" type="password" class="auth-input" placeholder="New Password" required>
        <button class="auth-btn">Update Password</button>
    </form>
</div>

{% endblock %}